.container-plan-step {
	margin: 0 0 5.6rem 0;
}
.num-plan-step {
	color: #fdd6ba;
	font-family: "Fraunces", serif;
	font-size: 7.2rem;
	line-height: 7.2rem;
}

.name-plan-step {
	color: #333d4b;
	font-family: "Fraunces", serif;
	font-size: 2.8rem;
	line-height: 2.8rem;

	margin: 2.4rem 0;
}

.description-plan-step {
	color: #333d4b;
	font-family: "Barlow", sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
}
