.card-choose {
	background-color: #2c343e;

	left: 0;
	right: 0;
	padding: 6.4rem 0 66rem;
	position: absolute;
	text-align: center;
	z-index: -1;
}

@media (min-width: 768px) {
	.card-choose {
		padding: 5.6rem 0 38rem;
	}
}

@media (min-width: 1440px) {
	.card-choose {
		padding: 10rem 0 31rem;
	}
}

.container-choose {
	margin-bottom: 45rem;
}

@media (min-width: 1440px) {
	.container-choose {
		margin-bottom: 55rem;
	}
}

.description-choose {
	color: #fefcf7;
	font-family: "Barlow", sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
	opacity: 80%;
}

@media (min-width: 1440px) {
	.description-choose {
		font-size: 1.6rem;
		line-height: 2.6rem;
	}
}

.feature-cards-choose {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;

	position: relative;
	top: 320px;
}

@media (min-width: 768px) {
	.feature-cards-choose {
		top: 280px;
	}
}

@media (min-width: 1440px) {
	.feature-cards-choose {
		flex-direction: row;
		gap: 3rem;
		margin: 0 auto;
		top: 350px;
		width: 77%;
	}
}

.heading-choose {
	color: #fefcf7;
	font-size: 2.8rem;
	line-height: 2.8rem;

	margin-bottom: 2.4rem;
}

@media (min-width: 768px) {
	.heading-choose {
		font-size: 3.2rem;
		line-height: 4.8rem;
	}
}

@media (min-width: 1440px) {
	.heading-choose {
		font-size: 4rem;
		line-height: 4.8rem;

		margin-bottom: 3.2rem;
	}
}

.intro-text-choose {
	margin: 0 auto;
	width: 85%;
}

@media (min-width: 768px) {
	.intro-text-choose {
		width: 71%;
	}
}

@media (min-width: 1440px) {
	.intro-text-choose {
		width: 40%;
	}
}
