.container-choose {
	margin-bottom: 450px;
}

.description-choose {
	color: #fefcf7;
	font-family: "Barlow", sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
	opacity: 80%;
}

.feature-cards-choose {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;

	position: relative;
	top: 320px;
}

.heading-choose {
	color: #fefcf7;
	font-size: 2.8rem;

	margin: 0 0 2.4rem 0;
}

.intro-choose {
	background-color: #2c343e;

	left: 0;
	right: 0;
	padding: 6.4rem 2.4rem 66rem;
	position: absolute;
	z-index: -1;

	text-align: center;
}
