.card-choose {
	background-color: #2c343e;

	left: 0;
	right: 0;
	padding: 6.4rem 2.4rem 66rem;
	position: absolute;
	z-index: -1;

	text-align: center;
}

@media (min-width: 768px) {
	.card-choose {
		padding: 6.4rem 2.4rem 38rem;
	}
}

.container-choose {
	margin-bottom: 45rem;
}

.description-choose {
	color: #fefcf7;
	font-family: "Barlow", sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
	opacity: 80%;
}

@media (min-width: 768px) {
	.description-choose {
		margin: 0 auto;
		width: 78%;
	}
}

.feature-cards-choose {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;

	position: relative;
	top: 320px;
}

@media (min-width: 768px) {
	.feature-cards-choose {
		top: 280px;
	}
}

.heading-choose {
	color: #fefcf7;
	font-size: 2.8rem;

	margin-bottom: 2.4rem;
}

@media (min-width: 768px) {
	.heading-choose {
		font-size: 3.2rem;
	}
}
