.container {
	background-color: #0e8784;
	border-radius: 5px;

	margin: 0 auto;
	width: 74%;
}

.contents {
	display: flex;
	flex-direction: column;
	gap: 5.6rem;

	padding: 7.2rem 0 5.1rem;
	text-align: center;
}

@media (min-width: 768px) {
	.contents {
		align-items: center;
		flex-direction: row;

		margin: 0 auto;
		padding: 4rem 0;
		text-align: left;
		width: 80%;
	}
}

@media (min-width: 1440px) {
	.contents {
		flex-direction: column;

		padding: 7.2rem 0 4.8rem;
		text-align: center;
		width: 70%;
	}
}

.description {
	color: #fefcf7;
	font-family: "Barlow", sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;

	margin: 0 auto;
	width: 72%;
}

@media (min-width: 768px) {
	.description {
		font-size: 1.6rem;
		line-height: 2.6rem;

		width: 100%;
	}
}

.heading {
	color: #fefcf7;
	font-size: 2.4rem;
	line-height: 3.2rem;

	margin-bottom: 2.4rem;
}

@media (min-width: 768px) {
	.heading {
		margin-bottom: 1.6rem;
		width: 100%;
	}
}

@media (min-width: 1440px) {
	.heading {
		margin-bottom: 2.4rem;
	}
}

.image {
	margin: 0 auto;
	max-width: 100%;
}

@media (min-width: 768px) {
	.image {
		margin: 0;
		width: 56px;
	}
}

@media (min-width: 1440px) {
	.image {
		width: 72px;
	}
}
