.container-feature-card {
	background-color: #0e8784;
	border-radius: 5px;

	margin: 0 auto;
	width: 74%;
}

.contents-feature-card {
	display: flex;
	flex-direction: column;

	margin: 7.2rem 0 5.1rem;
	text-align: center;
}

@media (min-width: 768px) {
	.contents-feature-card {
		align-items: center;
		flex-direction: row;
		gap: 5.5rem;

		margin: 4rem auto;
		text-align: left;
		width: 80%;
	}
}

.description-feature-card {
	color: #fefcf7;
	font-size: 1.5rem;
	font-family: "Barlow", sans-serif;
	line-height: 2.5rem;

	margin: 0 auto;
	width: 72%;
}

@media (min-width: 768px) {
	.description-feature-card {
		width: 100%;
	}
}

.heading-feature-card {
	color: #fefcf7;
	font-size: 2.4rem;
	line-height: 3.2rem;

	margin: 5.6rem 0 2.4rem;
}

@media (min-width: 768px) {
	.heading-feature-card {
		margin: 0 0 1.6rem;
	}
}

.image-feature-card {
	display: block;
	margin: 0 auto;

	/* height: 72px;
	width: 72px; */
}

@media (min-width: 768px) {
	.image-feature-card {
		/* height: 56px;
		width: 56px; */
	}
}
