.card-hero-subscribe {
	background-image: url("/public/assets/img/plan/mobile/image-hero-blackcup.jpg");
	background-size: cover;
}

.container-hero-subscribe {
	margin-bottom: 12rem;
}

.contents-hero-subscribe {
	margin: 0 auto;
	padding: 10rem 0 13.5rem 0;
	text-align: center;
	width: 85%;
}

.heading-hero-subscribe {
	color: #fefcf7;
	font-size: 4rem;
	line-height: 4rem;

	margin: 0 0 2.2rem 0;
}

.description-hero-subscribe {
	color: #fefcf7;
	font-size: 1.5rem;
	font-family: "Barlow", sans-serif;
	line-height: 2.5rem;
	opacity: 80%;
}
