.card {
	background-image: url("/public/assets/img/plan/mobile/image-hero-blackcup.jpg");
	background-size: cover;
}

@media (min-width: 768px) {
	.card {
		background-image: url("/public/assets/img/plan/tablet/image-hero-blackcup.jpg");
	}
}

@media (min-width: 1440px) {
	.card {
		background-image: url("/public/assets/img/plan/desktop/image-hero-blackcup.jpg");
	}
}

.container {
	margin-bottom: 12rem;
}

@media (min-width: 768px) {
	.container {
		margin-bottom: 14.4rem;
	}
}

@media (min-width: 1440px) {
	.container {
		margin-bottom: 16.8rem;
	}
}

.contents {
	margin: 0 auto;
	padding: 10rem 0 13.5rem;
	text-align: center;
	width: 85%;
}

@media (min-width: 768px) {
	.contents {
		padding: 12.6rem 0;
		text-align: left;
		width: 83%;
	}
}

@media (min-width: 1440px) {
	.contents {
		padding: 13.4rem 0;
		width: 87%;
	}
}

.heading {
	color: #fefcf7;
	font-size: 4rem;
	line-height: 4rem;

	margin: 0 0 2.2rem 0;
}

@media (min-width: 768px) {
	.heading {
		font-size: 4.8rem;
		line-height: 4.8rem;
	}
}

@media (min-width: 1440px) {
	.heading {
		font-size: 7.2rem;
		line-height: 7.2rem;
	}
}

.description {
	color: #fefcf7;
	font-family: "Barlow", sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
	opacity: 80%;
}

@media (min-width: 748px) {
	.description {
		width: 68%;
	}
}

@media (min-width: 1440px) {
	.description {
		font-size: 1.6rem;
		line-height: 2.6rem;

		width: 40%;
	}
}
