.bg-steps-subscribe {
	border-radius: 10px;

	display: block;
	width: 100%;
}

.container-steps-subscribe {
	margin-bottom: 12rem;
	text-align: center;
	position: relative;
}

@media (min-width: 768px) {
	.container-steps-subscribe {
		margin-bottom: 12rem;
		text-align: left;
	}
}

.description-steps-subscribe,
.name-steps-subscribe {
	color: #ffffff;
}

.plan-steps-subscribe {
	position: absolute;
	left: 6.5%;
	right: 6.5%;
	top: 8rem;
	width: 87%;
}

@media (min-width: 768px) {
	.plan-steps-subscribe {
		left: 5%;
		right: 5%;
		top: 17.6rem;
		width: 90%;
	}
}
