.card-hero-home {
	background-image: url("/public/assets/img/home/mobile/image-hero-coffeepress.jpg");
	background-size: cover;
}

@media (min-width: 768px) {
	.card-hero-home {
		background-image: url("/public/assets/img/home/tablet/image-hero-coffeepress.jpg");
	}
}

@media (min-width: 1440px) {
	.card-hero-home {
		background-image: url("/public/assets/img/home/desktop/image-hero-coffeepress.jpg");
	}
}

.container-hero-home {
	margin-bottom: 12rem;
}

@media (min-width: 768px) {
	.container-hero-home {
		margin-bottom: 15rem;
	}
}
@media (min-width: 1440px) {
	.container-hero-home {
		margin-bottom: 18rem;
	}
}

.contents-hero-home {
	margin: 0 auto;
	padding: 10rem 0;
	text-align: center;
	width: 85%;
}

@media (min-width: 768px) {
	.contents-hero-home {
		text-align: left;
		width: 83%;
	}
}

@media (min-width: 1440px) {
	.contents-hero-home {
		padding: 11.7rem 0;
		width: 87%;
	}
}

.heading-hero-home {
	color: #fefcf7;
	font-size: 4rem;
	line-height: 4rem;
}

@media (min-width: 768px) {
	.heading-hero-home {
		width: 48%;
	}
}

@media (min-width: 1440px) {
	.heading-hero-home {
		font-size: 7.2rem;
		line-height: 7.2rem;

		width: 41%;
	}
}

.description-hero-home {
	color: #fefcf7;
	font-size: 1.5rem;
	font-family: "Barlow", sans-serif;
	line-height: 2.5rem;
	opacity: 80%;

	margin: 2.6rem 0 3.8rem;
}

@media (min-width: 768px) {
	.description-hero-home {
		width: 65%;
	}
}

@media (min-width: 1440px) {
	.description-hero-home {
		font-size: 1.6rem;
		line-height: 2.6rem;

		margin: 3.2rem 0 5.6rem;
		width: 35%;
	}
}
