.card-hero-home {
	background-image: url("/public/assets/img/home/mobile/image-hero-coffeepress.jpg");
	background-size: cover;
}

@media (min-width: 768px) {
	.card-hero-home {
		background-image: url("/public/assets/img/home/tablet/image-hero-coffeepress.jpg");
	}
}

.container-hero-home {
	margin-bottom: 14.4rem;
}

.contents-hero-home {
	margin: 0 auto;
	padding: 10rem 0;
	text-align: center;
	width: 85%;
}

@media (min-width: 768px) {
	.contents-hero-home {
		margin-left: 5.8rem;
		text-align: left;
		width: 58%;
	}
}

.heading-hero-home {
	color: #fefcf7;
	font-size: 4rem;
	line-height: 4rem;
}

@media (min-width: 768px) {
	.heading-hero-home {
		width: 83%;
	}
}

.description-hero-home {
	color: #fefcf7;
	font-size: 1.5rem;
	font-family: "Barlow", sans-serif;
	line-height: 2.5rem;
	opacity: 80%;

	margin: 2.6rem 0 3.8rem;
}
