.button-howitworks {
	background-color: #0e8784;
	color: #fefcf7;
	font-family: "Fraunces", serif;
	font-size: 1.8rem;
	padding: 0.9em 1.8em;

	border: none;
	border-radius: 5px;
}

.container-howitworks {
	margin: 44rem auto 12rem;
	width: 87%;

	text-align: center;
}

.heading-howitworks {
	color: #83888f;
	font-size: 2.4rem;
	line-height: 3.2rem;
}

.steps-howitworks {
	margin: 8rem auto;

	display: flex;
	flex-direction: column;
	gap: 5.6rem;
}
