.container-header {
	display: flex;
	justify-content: space-between;
	margin: 3.2rem auto 4rem;
	width: 87%;
}

@media (min-width: 768px) {
	.container-header {
		margin: 4rem auto 5.3rem;
	}
}

.menu-icon-header {
	align-self: center;
}

@media (min-width: 768px) {
	.menu-icon-header {
		display: none;
	}
}

.menu-icon-header:hover {
	cursor: pointer;
}

.links-desktop-header {
	display: none;
}

@media (min-width: 768px) {
	.links-desktop-header {
		display: inline;
		align-self: center;
	}
}

.links-list-desktop-header {
	display: flex;
	gap: 3.2rem;

	font-size: 1.2rem;
	line-height: 1.5rem;
	list-style: none;
}

.links-list-desktop-header a {
	color: #83888f;
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

.links-list-desktop-header a:hover {
	color: #333d4b;
}

.links-list-mobile-header {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;

	font-size: 2.4rem;
	line-height: 3.2rem;
	list-style: none;
}

.links-list-mobile-header a {
	color: #333d4b;
	font-family: "Fraunces", serif;
	letter-spacing: 0.5px;
	text-decoration: none;
}

.links-list-mobile-header a:hover {
	text-decoration: underline;
}

.links-mobile-header {
	background: linear-gradient(white 35%, transparent);
	height: 100vh;
	padding: 4rem;
	position: absolute;
	width: 100%;
	z-index: 100;

	font-family: "Fraunces", serif;
	font-size: 2.4rem;
	text-align: center;
}

@media (min-width: 768px) {
	.links-mobile-header {
		display: none;
	}
}

.logo-header {
	vertical-align: bottom;
	width: 163px;
	height: 18px;
}

@media (min-width: 768px) {
	.logo-header {
		width: 236px;
		height: 26px;
	}
}
