.container {
	display: flex;
	justify-content: space-between;
	margin: 3.2rem auto 4rem;
	width: 87%;
	max-width: 1296px;
}

@media (min-width: 768px) {
	.container {
		margin: 4rem auto 5.3rem;
		width: 90%;
	}
}

@media (min-width: 1440px) {
	.container {
		margin-bottom: 4.3rem;
		width: 90%;
	}
}

.menu-icon {
	align-self: center;
}

@media (min-width: 768px) {
	.menu-icon {
		display: none;
	}
}

.menu-icon:hover {
	cursor: pointer;
}

.links-desktop {
	display: none;
}

@media (min-width: 768px) {
	.links-desktop {
		display: inline;
		align-self: center;
	}
}

.links-list-desktop {
	display: flex;
	gap: 3.2rem;

	font-size: 1.2rem;
	line-height: 1.5rem;
	list-style: none;
}

.links-list-desktop a {
	color: #83888f;
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

.links-list-desktop a:hover {
	color: #333d4b;
}

.links-list-mobile {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;

	font-size: 2.4rem;
	line-height: 3.2rem;
	list-style: none;
}

.links-list-mobile a {
	color: #333d4b;
	font-family: "Fraunces", serif;
	letter-spacing: 0.5px;
	text-decoration: none;
}

.links-list-mobile a:hover {
	text-decoration: underline;
}

.links-mobile {
	background: linear-gradient(white 35%, transparent);
	height: 100vh;
	padding: 4rem;
	position: absolute;
	width: 100%;
	z-index: 100;

	font-family: "Fraunces", serif;
	font-size: 2.4rem;
	text-align: center;
}

@media (min-width: 768px) {
	.links-mobile {
		display: none;
	}
}

.logo {
	height: 18px;
	vertical-align: bottom;
	width: 163px;
}

@media (min-width: 768px) {
	.logo {
		height: 26px;
		width: 236px;
	}
}
