.container-header {
	display: flex;
	justify-content: space-between;
	width: 87%;
	margin: 3.2rem auto 4rem;
}

.icon-hamburger {
	align-self: center;
}

.logo-header {
	vertical-align: bottom;
	width: 163px;
	height: 18px;
}

.links-list-header {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	font-size: 1.2rem;
	line-height: 1.5rem;
	list-style: none;
}

.links-list-item-header a {
	color: #83888f;
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
}
@media (min-width: 768px) {
	.icon-hamburger {
		display: none;
	}
}
