.container-header {
	display: flex;
	justify-content: space-between;
	width: 87%;
	margin: 3.2rem auto 4rem;
}

.icon-hamburger {
	align-self: center;
}

.logo-header {
	vertical-align: bottom;
	width: 163px;
	height: 18px;
}
