.container-steps {
	display: flex;
	flex-direction: column;
	gap: 5.6rem;
}

@media (min-width: 768px) {
	.container-steps {
		flex-direction: row;
		gap: 3rem;
	}
	.container-steps > * {
		flex: 1;
	}
}

@media (min-width: 1440px) {
	.container-steps {
		gap: 9.5rem;
	}
}

.description-step {
	font-family: "Barlow", sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
}

@media (min-width: 1440px) {
	.description-step {
		font-size: 1.6rem;
		line-height: 2.6rem;
	}
}

.name-step {
	font-size: 2.8rem;
	line-height: 3.2rem;

	margin: 2.4rem 0;
}

@media (min-width: 768px) {
	.name-step {
		margin: 4.2rem 0 3.8rem;
	}
}

@media (min-width: 1440px) {
	.name-step {
		font-size: 3.2rem;
		line-height: 3.6rem;

		margin: 3.8rem 0 4.2rem;
		width: 89%;
	}
}

.number-step {
	color: #fdd6ba;
	font-family: "Fraunces", serif;
	font-size: 7.2rem;
	line-height: 7.2rem;
}
