.container-headquarters {
	margin-bottom: 12rem;
	text-align: center;
}

@media (min-width: 768px) {
	.container-headquarters {
		margin: 0 auto 14.4rem;
		text-align: left;
		width: 90%;
	}
}

@media (min-width: 1440px) {
	.container-headquarters {
		width: 77%;
		margin-bottom: 16.8rem;
	}
}

.heading-headquarters {
	color: #83888f;
	font-size: 2.4rem;
	line-height: 3.2rem;

	margin-bottom: 7.2rem;
}

.list-headquarters {
	display: flex;
	flex-direction: column;
	gap: 8rem;
}

@media (min-width: 768px) {
	.list-headquarters {
		align-items: flex-end;
		flex-direction: row;
	}
	.list-headquarters > * {
		flex: 1;
	}
}
