.container-headquarters {
	text-align: center;
	margin: 0 0 12rem 0;
}

.container-headquarters-list {
	display: flex;
	flex-direction: column;
}

.heading-headquarters {
	color: #83888f;
	font-size: 2.3rem;
	line-height: 3.2rem;

	margin: 0 0 7.2rem 0;
}
