.card-hero-about {
	background-image: url("/public/assets/img/about/mobile/image-hero-whitecup.jpg");
	background-size: cover;
}

@media (min-width: 768px) {
	.card-hero-about {
		background-image: url("/public/assets/img/about/tablet/image-hero-whitecup.jpg");
	}
}

@media (min-width: 1440px) {
	.card-hero-about {
		background-image: url("/public/assets/img/about/desktop/image-hero-whitecup.jpg");
	}
}

.container-hero-about {
	margin-bottom: 12rem;
}

@media (min-width: 768px) {
	.container-hero-about {
		margin-bottom: 14.4rem;
	}
}

@media (min-width: 1440px) {
	.container-hero-about {
		margin-bottom: 16.8rem;
	}
}

.contents-hero-about {
	margin: 0 auto;
	padding: 11rem 0 9rem;
	text-align: center;
	width: 85%;
}

@media (min-width: 768px) {
	.contents-hero-about {
		padding: 12rem 0;
		text-align: left;
		width: 83%;
	}
}

@media (min-width: 1440px) {
	.contents-hero-about {
		padding: 13.7rem 0;
		width: 87%;
	}
}

.heading-hero-about {
	color: #fefcf7;
	font-size: 2.8rem;
	line-height: 2.8rem;

	margin-bottom: 2.4rem;
}

@media (min-width: 768px) {
	.heading-hero-about {
		font-size: 3.2rem;
		line-height: 4rem;
	}
}

@media (min-width: 1440px) {
	.heading-hero-about {
		font-size: 4rem;
		line-height: 4.8rem;
	}
}

.description-hero-about {
	color: #fefcf7;
	font-family: "Barlow", sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
	opacity: 80%;
}

@media (min-width: 768px) {
	.description-hero-about {
		width: 69%;
	}
}
@media (min-width: 1440px) {
	.description-hero-about {
		width: 39%;
		font-size: 1.6rem;
		line-height: 2.6rem;
	}
}
