.card-quality {
	background-color: #2c343e;

	position: relative;
	top: 7.5rem;
	z-index: -1;
}

@media (min-width: 768px) {
	.card-quality {
		top: 16rem;
	}
}

.container-quality {
	margin-bottom: 20rem;
}

@media (min-width: 768px) {
	.container-quality {
		margin-bottom: 32rem;
	}
}

.description-quality {
	color: #fefcf7;
	font-family: "Barlow", sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
	opacity: 80%;
}

.heading-quality {
	color: #fefcf7;
	font-size: 2.8rem;
	line-height: 2.8rem;

	margin-bottom: 2.4rem;
}

@media (min-width: 768px) {
	.heading-quality {
		font-size: 3.2rem;
		line-height: 4.8rem;
	}
}

.image-quality {
	border-radius: 10px;

	max-width: 100%;
	position: absolute;
	left: 13%;
	/* right: 13%; */
	width: 74%;
}

.text-quality {
	margin: 0 auto;
	padding: 37vw 0 6rem 0;
	text-align: center;
	width: 85%;
}

@media (min-width: 768px) {
	.text-quality {
		padding-top: 22rem;
		margin: 0 auto;
		width: 78%;
	}
}
