.backdrop-checkout-modal {
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.75);
}

.card-checkout-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;

	text-align: left;
}

@media (min-width: 768px) {
	.card-checkout-modal {
		width: 70%;
	}
}

@media (min-width: 1440px) {
	.card-checkout-modal {
		width: 38%;
	}
}

.body-checkout-modal {
	background: white;
	padding: 4rem 0 2.4rem 0;
}

@media (min-width: 768px) {
	.body-checkout-modal {
		padding: 5.6rem 0;
	}
}

.body-checkout-modal div {
	margin: 0 auto;
	width: 87%;
}

@media (min-width: 768px) {
	.body-checkout-modal div {
		width: 79%;
	}
}

.heading-checkout-modal {
	background: #333d4b;
}

.heading-checkout-modal h2 {
	color: white;
	font-size: 2.8rem;
	line-height: 3.2rem;

	margin: 0 auto;
	padding: 2.8rem 0;
	width: 87%;
}

@media (min-width: 768px) {
	.heading-checkout-modal h2 {
		font-size: 4rem;
		line-height: 4.8rem;

		padding: 4.8rem 0 4rem;
		width: 79%;
	}
}

.subtext-checkout-modal {
	color: #83888f;
	font-family: "Barlow", sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;

	margin-bottom: 2.4rem;
}

@media (min-width: 768px) {
	.subtext-checkout-modal {
		font-size: 1.6rem;
		line-height: 2.6rem;

		margin-bottom: 4.7rem;
		margin-top: 1rem;
	}
}

.summary-checkout-modal {
	color: #83888f;
	font-size: 2.4rem;
}
