.heading-question {
	font-size: 2.4rem;
	line-height: 2.8rem;

	color: #83888f;
	width: 24rem;
}

@media (min-width: 768px) {
	.heading-question {
		font-size: 3.2rem;
		line-height: 4.8rem;

		width: 74%;
	}
}

.heading-container-question {
	display: flex;
	justify-content: space-between;

	margin: 0 0 3.2rem 0;

	cursor: pointer;
}

.heading-container-question.disabled {
	opacity: 50%;
	cursor: default;
}

.arrow-image-question {
	align-self: center;
}

.arrow-image-question.shown {
	transform: rotate(180deg);
}
