.card-summary {
	background-color: #2c343e;
	margin-bottom: 5.6rem;
}

.container-button-summary {
	text-align: center;
}

.container-summary {
	margin: 0 auto 12rem;
}

.contents-summary {
	margin: 0 auto;
	padding: 3.2rem 0;
	width: 85%;
}

.description-summary {
	color: #ffffff;
	font-family: "Fraunces", serif;
	font-size: 2.4rem;
	letter-spacing: 0.5px;
	line-height: 4rem;
}

.heading-summary {
	color: #ffffff;
	font-family: "Barlow", sans-serif;
	font-size: 1.6rem;
	line-height: 2.6rem;
	opacity: 50%;

	margin-bottom: 0.8rem;
}

.option-summary {
	color: #0e8784;
}
