.heading {
	color: #83888f;
	font-size: 2.4rem;
	line-height: 2.8rem;

	width: 24rem;
}

@media (min-width: 768px) {
	.heading {
		font-size: 3.2rem;
		line-height: 4.8rem;

		width: 74%;
	}
}

@media (min-width: 1440px) {
	.heading {
		font-size: 4rem;

		width: 100%;
	}
}

.heading-container {
	display: flex;
	justify-content: space-between;

	cursor: pointer;
}

.heading-container.disabled {
	opacity: 50%;
	cursor: default;
}

.arrow-image {
	align-self: center;
}

.arrow-image.shown {
	transform: rotate(180deg);
}
