.heading-question {
	color: #83888f;
	width: 24rem;
}

.heading-container-question {
	display: flex;
	justify-content: space-between;

	margin: 0 0 3.2rem 0;

	cursor: pointer;
}

.arrow-image-question {
	align-self: center;
}

.arrow-image-question.isShown {
	transform: rotate(180deg);
}
