.container-features {
	text-align: center;

	margin: 0 auto;
	width: 87%;
}

.description-features {
	color: #fefcf7;
	font-family: "Barlow", sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
	opacity: 80%;
}

.heading-features {
	color: #fefcf7;
	font-family: "Fraunces", serif;
	font-size: 2.8rem;
	letter-spacing: 0.5px;

	margin: 0 0 2.4rem 0;
}

.intro-features {
	background-color: #2c343e;
	padding: 6.4rem 2.4rem 66rem;

	position: absolute;
	z-index: -1;
	width: 87%;

	border-radius: 10px;
}
