.container-works {
	margin: 0 auto 12rem;
	text-align: center;
	width: 87%;
}

@media (min-width: 768px) {
	.container-works {
		margin-bottom: 14.4rem;
		text-align: left;
		width: 90%;
	}
}

.description-step-works,
.name-step-works {
	color: #333d4b;
}

.heading-works {
	color: #83888f;
	font-size: 2.4rem;
	line-height: 3.2rem;
}

.plan-steps-works {
	margin-top: 8rem;
	margin-bottom: 8rem;
}

@media (min-width: 768px) {
	.plan-steps-works {
		margin-top: 12rem;
		margin-bottom: 4.4rem;
	}
}
